// STRIP ALL COMMENTS BEFORE USE
{
	"global": {
		"remove": "ALL" // (ALL or DOWNLOADED or ARCHIVED or NONE, default ALL)
	},
	"server": {
		"hostname": "localhost",
		"port": "8081",
		"web_root": "",
		"api_key": "REQUIRED-GENERATED-API-KEY"
	},
	"shows": {
		"12345": {
			"name": "Some show", // (Informative only, doesn't need to comply with DB)
			"keep_episodes": 3, // Positive integer
			"remove": "ALL" // (ALL or DOWNLOADED or ARCHIVED or NONE, default ALL)
		},
		... // add more dict entries
	}
}
